---
import Layout from "../../layouts/Layout.astro";
import CareersPage from "../../components/Careers.astro";
---

<title>Montplex Support | Job Board</title>
<meta name="description" content="Montplex Support | Job Board" />
<meta property="og:title" content="Montplex Support | Job Board" />
<meta property="og:description" content="Montplex Support | Job Board" />
<meta property="og:site_name" content="Montplex Support | Job Board" />

<Layout title="Montplex Support | Job Board" footer={false}>
	<CareersPage />
</Layout>
