---
import Jobs from "../../components/Jobs.astro";
---

<title>Operations Engineer | Montplex</title>
<meta name="description" content="Montplex Support | Job Board" />
<meta property="og:title" content="Operations Engineer | Montplex" />
<meta property="og:description" content="Operations Engineer | Montplex" />
<meta property="og:site_name" content="Operations Engineer | Montplex" />

<Jobs title="Operations Engineer">
  <div class="richtext">
    <p><strong>Responsibilities</strong></p>

    <ul role="list">
      <li>Participate in the company's public cloud project development and planning.</li>

      <li>
        Ensure the stability of the public cloud Docker platform, including improved monitoring,
        emergency response, location of performance bottlenecks and difficult issues in a timely
        manner.
      </li>
      <li>
        Responsible for containerization of application systems, CI/CD, and DevOps process
        management to improve product deliverability.
      </li>
      <li>
        Continuously improve cloud efficiency, including advocating for best practices for IAC,
        optimizing bills, and ensuring cloud security.
      </li>
    </ul>
    <p>‍</p>

    <p><strong>Experience Required</strong></p>
    <p class="info">
      You should have experience selling software or engineering services to corporate and
      enterprise clients. In general, we’re looking for someone with:
    </p>
    <ul role="list">
      <li>3+ years of experience in operations or related fields preferred.</li>
      <li>
        Experience in development and maintenance of large-scale projects using Kubernetes,
        including extensive experience with DevOps, Operators, CRI, CNI, SCI, LB, etc.
      </li>
      <li>
        Familiar with public cloud products and have experience using and automating operations,
        such as Pulumi/Terraform.
      </li>
      <li>
        Familiar with Redis/Redis Cluster/KV products in application deployment, monitoring, and
        administration.
      </li>
      <li>Proficient in basic technologies such as Linux system, TCP/IP, HTTP, load balancing.</li>
      <li>Proficient in scripting using Shell/Python.</li>
      <li>Proficient in basic technologies such as Linux system, TCP/IP, HTTP, load balancing.</li>
      <li>Strong learning ability, proactive work attitude, and good communication skills.</li>
      <li>Experience with large-scale PAAS platforms/distributed cache virtualization</li>
    </ul>
    <p>‍</p>
  </div>
</Jobs>

<style lang="scss">
  .richtext {
    color: #626262;
    line-height: 26px;
    font-size: 14px;
    p {
      font-size: 14px;
      strong {
        font-size: 16px !important;
        font-weight: 700 !important;
      }
    }

    ul {
      margin-top: 12px;
      margin-bottom: 12px;
      padding-left: 40px;

      font-weight: 500;
      list-style-type: disc;
      li {
        margin-bottom: 10px;
      }
    }
    .info {
      margin-top: 8px;
    }
  }
</style>
