---
import Jobs from "../../components/Jobs.astro";
---

<title>Product Marketing Manager | Montplex</title>
<meta name="description" content="Product Marketing Manager | Montplex" />
<meta property="og:title" content="Montplex Support | Job Board" />
<meta property="og:description" content="Product Marketing Manager | Montplex" />
<meta property="og:site_name" content="Montplex Support | Job Board" />

<Jobs title="Product Marketing Manager | Montplex">
  <div class="richtext">
    <p><strong>Responsibilities</strong></p>
    <ul role="list">
      <li>Define and execute the product marketing strategy for our database product.</li>

      <li>
        Work closely with product, engineering, and sales teams to define the product roadmap and
        messaging.
      </li>
      <li>
        Create and execute marketing campaigns to generate awareness and demand for our product.
      </li>
      <li>
        Write product marketing materials, such as white papers, case studies, and blog posts.
      </li>
      <li>Track and analyze marketing performance to identify opportunities for improvement.</li>
    </ul>
    <p>‍</p>

    <!-- Qualifications -->
    <p><strong>Experience Required</strong></p>
    <p class="info">
      You should have experience selling software or engineering services to corporate and
      enterprise clients. In general, we’re looking for someone with:
    </p>
    <ul role="list">
      <li>3+ years of experience in product marketing, preferably in the database industry.</li>
      <li>Strong understanding of the database market and customer needs.</li>
      <li>Excellent writing and communication skills.</li>
      <li>Ability to work independently and as part of a team.</li>
      <li>Passion for technology and innovation.</li>
    </ul>
    <p>‍</p>
  </div>
</Jobs>

<style lang="scss">
  .richtext {
    color: #626262;
    line-height: 26px;
    font-size: 14px;
    p {
      font-size: 14px;
      strong {
        font-size: 16px !important;
        font-weight: 700 !important;
      }
    }

    ul {
      margin-top: 12px;
      margin-bottom: 12px;
      padding-left: 40px;

      font-weight: 500;
      list-style-type: disc;
      li {
        margin-bottom: 10px;
      }
    }
    .info {
      margin-top: 8px;
    }
  }
</style>
