---
import Card from "./Card.astro";
import CuttingLine from "./Icon/CuttingLine.astro";
---

<div class="sunsetWrapper">
  <div class="hdClients">
    <div class="sunset">
      <div class="sunsetEclipse"></div>
      <div class="divBlock70"></div>
    </div>
    <div class="container mx-auto md:px-4 px-6 flex pt-20 flex-col justify-center items-center gap-3 ">
      <h2 class="text-block text-4xl md:text-6xl font-bold"
      style="line-height: 1.5;"
      >Believe in Serverless</h2>
      <CuttingLine  />
    </div>
  </div>
  <Card />
</div>

