---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/home.scss";

export interface Props {
	title?: string;
	footer: boolean;
}

const props = Astro.props;
---

<!DOCTYPE html>
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-4FEGG0PEQ8"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments) }
		gtag("js", new Date());
		gtag("config", "G-4FEGG0PEQ8");
	</script>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="Montplex website" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
	<link rel="canonical" href="https://www.montplex.com/" />

	<title>Montplex: Serverless Cache for Global Business</title>
	<meta name="generator" content="Montplex: Serverless Cache for Global Business" />
	<meta
		name="description"
		content="Help us build the cutting edge data platform for the serverless era."
	/>
	<meta name="keywords" content="redis,serverless cache,global database, " />

	<meta property="url" content="https://www.montplex.com/" />
	<meta property="type" content="website" />
	<meta property="title" content="Montplex: Serverless Cache for Global Business" />
	<meta
		property="description"
		content="Help us build the cutting edge data platform for the serverless era."
	/>
	<meta property="image" content="https://www.montplex.com/og-home.png" />
	<meta itemprop="image" content="https://www.montplex.com/og-home.png" />

	<meta property="og:locale" content="en_US" />
	<meta property="og:title" content="Montplex: Serverless Cache for Global Business" />
	<meta
		property="og:description"
		content="Help us build the cutting edge data platform for the serverless era."
	/>
	<meta property="og:url" content="https://www.montplex.com" />
	<meta property="og:site_name" content="Montplex: Serverless Cache for Global Business" />
	<meta property="og:image" content="https://www.montplex.com/og-home.png" />
	<meta property="og:type" content="website" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@MontplexDB" />
	<meta name="twitter:creator" content="@MontplexDB" />
	<meta name="twitter:title" content="Montplex: Serverless Cache for Global Business" />
	<meta
		name="twitter:description"
		content="Help us build the cutting edge data platform for the serverless era."
	/>
	<meta name="twitter:image" content="https://www.montplex.com/og-home.png" />
	<meta name="twitter:image:src" content="https://www.montplex.com/og-home.png" />
</head>
<body>
	<Header />
	<slot />
	{props.footer && <Footer />}
</body>

<style is:global lang="scss">
	@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap&subset=latin");

	body {
		-ms-overflow-style: none;
		scrollbar-width: none;
		overflow: -moz-scrollbars-none;
		overflow-y: scroll;
		font-family: Inter, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
</style>
